@font-face {
    font-family: 'Muli';
    src: url("Fonts/Muli-Light.ttf"), url("Fonts/Muli-Light.woff"), url("Fonts/Muli-Light.woff2");
    font-weight: 300;
    font-style: normal;
    color: #565656;
}

@font-face {
    font-family: "Catamaran";
    src: url("Fonts/Catamaran-Bold.ttf");
    color: #333333;
}

:root {
    box-sizing: border-box;
    /*     font-size: calc(1vw+0, 7em); */
}

html, body{ overflow-x: hidden;}
body {
    font-family: "Muli", 'Courier New';
    font-size: 18px;
    margin: 0px auto;
    background-color:white;
}

h1, h2, h3, h4 {
    font-family: "Catamaran", "Courier New";
    text-transform: uppercase;
    margin: 0px;

}

h3 {
    font-size: 60px;
}
h4{font-size: 24px;}
h3,h4{    color: #333333;}

button{
     background-color: #ff690f;
     border: 1px red solid; 
     border-radius: 8px;
     box-shadow: none;
     color: #fefefe;
     font-family: "Catamaran", 'Courier New';
     text-transform: uppercase;

}
/*--------------------------------------------------------------------- 
------------------------NAV------------------------------------- 
------------------------------------------------------------------------*/

nav {
    width: 100%;
    text-shadow: rgb(0, 0, 0) 0px 0px 3px;
    margin: 0 auto;
    }

.nav-container {
    display: flex;
    height: 70px;
    width: 100%;
    margin: 30px 0px 70px 0px;
    line-height: 70px;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
    list-style-type: none;
}

.nav-logo {
    margin-right: 820px;
    margin-left: 120px;
}

.nav-menu {
    width: 580px;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    margin-right: 120px;
}

.nav-menu a {
    color: #ffffff;
    text-decoration: none;
}

/*-------------------------------------------------------------------------------- 
-------------------------------------HEADER--------------------------------------- 
----------------------------------------------------------------------------------*/

header {
    text-shadow: rgb(0, 0, 0) 0px 0px 3px;
    height: 910px;
    width: 100%;
    color: #fefefe;
}

.header_text
{font-size: 24px;
width: 640px;
position: absolute;
left: 335px;
top: 530px;
line-height: 150%;
}

button{
    height:60px;
    width: 240px;
    font-size: 18px;
    margin-top: 30px;
    cursor: pointer;
      }

/*------------------------HEADER-Background-overlay-------------------------------*/

.header_overlay {
    width: 100%;
    height: 1079px;
    position: absolute;
    top: 0px;
    overflow: hidden;
    z-index: -10;
}

.header_overlay_back {
    width: 100%;
    height: 1079px;
    background: url("Pictures/top-back.png") no-repeat center center;
    position: absolute;
    top: 0px;
    z-index: 1;
    background-size: cover;
}

.header_overlay_mountains {
    height: 733px;
    width: 100%;
    background: url("Pictures/top-mountains.png") no-repeat;
    position: absolute;
    top: 360px;
    z-index: 3;
    background-size: cover;
}

.header_overlay_snow-mountains {
    height: 290px;
    width: 100%;
    background: url("Pictures/top-snow-mountains.png") no-repeat;
    position: absolute;
    top: 803px;
    z-index: 4;
    background-size: cover;
}

.header_overlay_skater {
    height: 790px;
    width: 1084px;
    background: url("Pictures/top-skater.png") no-repeat;
    position: absolute;
    top: 371px;
    left: 846px;
    z-index: 50;
}

h1 {
    font-size: 250px;
    opacity: 40%;
    mix-blend-mode: overlay;
}

h2 {
    font-size: 30px;
    mix-blend-mode: soft-light;
}

.header_overlay_title1 {
    position: absolute;
    top: 155px;
    z-index: 2;
    text-align: center;
    width: 100%;
}

.header_overlay_title2 {
    position: absolute;
    top: 165px;
    text-align: center;
    width: 100%;
}

/* ---------------------------------------------------------------------- 
------------------------MAIN------------------------------------- 
-------------------------------------------------------------------------*/


/* ------------------------WWO-------------------------------------  */
.WWO{text-align: center;
    margin-top: 120px;
}
.WWO_head{width: 980px;
margin: 0 auto;}

.WWO_price{display: flex;
width: 1115px;
margin: 0 auto;
justify-content: space-between;
font-size: 14px;}

.WWO_price div{width: 275px;}